.buttons{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  float: left;
  font-size: x-large;
  margin-right: 100px;
  width: 100%;
  height: 62px;
  cursor: pointer;
  background-color: cornsilk;
}
.underline{
  width: 100%;
  height: 100px;
  background-color: crimson;
}
.bb{
  margin-top: 16px;
}